@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-roboto-mono), monospace;
  --color-brand-primary: #008181;
  --color-jet: #484349;
  --color-snow: #F7F0F0;
  --color-raspberry: #D81E5B;
  --color-dazzle-rose: #FF3CC7;
}
